.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Se adaptează la dimensiunea ecranului */
    gap: 15px; /* Spațiere între imagini */
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.gallery-grid img {
    width: 100%;
    max-width: 100%; /* Se adaptează la grid */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-grid img:hover {
    transform: scale(1.05);
}
