footer {
    background: #333; /* Fundal închis */
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    margin-top: 40px;
    border-top: 4px solid #ff9800; /* Linie portocalie de accent */
}

/* Container footer */
.footer-container {
    max-width: 80%;
    margin: auto;
}

/* Link-uri în footer */
footer a {
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #e68900;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    font-size: 24px;
    color: white; /* Culoare albă implicită */
    margin: 0 10px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #1877F2; /* Albastru Facebook */
}