/* === NAVIGAȚIE === */
nav ul {    
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    display: inline;
}

/* === LINK-URI MENIU === */
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #ff9800;
}
